@import 'src/assets/styles/variables';

.wrapper {
	position: relative;

	button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	> button {
		svg {
			font-size: 27px;
			color: $white;
		}
	}
}
